html {
  min-height: 100%;
}
.App {
  text-align: center;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.dashboard {
  background: 
              url('./assets/iCarebg.jpg') center top no-repeat fixed;
  /* background-size: cover;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center; */

}