.main-header {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../../assets/1140-nurse-wheelchair-home-care-health.imgcache.rev01e17c1f3a958cbd32e4c7ebbb936de0.jpg') center top no-repeat fixed;
  background-size: cover;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header-content {
  color: #fff;
  text-align: center;
}

.about-section {
  background-color: #30FFCE;
}

.img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 400px;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 400px;
}

.img img {
  height: 100%;
}

.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}

.img__overlay:hover {
  opacity: 1;
}

.img__overlay {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  color: #fafafa;
  font-size: 24px;
}