.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    margin: 3rem;
}
.children{
    display: flex;
    flex-direction: column;
}
.logo {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 13em;
    height: auto
}